{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "favicon_include.html" %}
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <img src="{% static 'css/upload.png' %}" alt="" class="m-1">
                        <label for="{{ form.profileimg.id_for_label }}" class="col-form-label">Photo</label>
                        {{ form.profileimg }}
                        {% if form.profileimg.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.profileimg.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.bio.id_for_label }}" class="col-form-label">Bio</label>
                        {{ form.bio }}
                        {% if form.bio.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.bio.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.location.id_for_label }}" class="col-form-label">Location</label>
                        {{ form.location }}
                        {% if form.location.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.location.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>