{% load static %}
{% load post_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "favicon_include.html" %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/cb792c0850.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Social Media</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 sidebar">
            <div class="sidebar-header">
                <img src="{{profile.profileimg.url}}" alt="Profile Picture" class="profile-pic">
                <h4 class="mt-2"><a href="/profile/{{user}}">@{{user}}</a></h4>
            </div>
            <ul class="nav flex-column mt-4">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <i class="fa-solid fa-house"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/explore">
                        <i class="fa-solid fa-compass"></i> Explore
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        <i class="fa-solid fa-magnifying-glass"></i> Search
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="@getbootstrap">
                        <i class="fa-solid fa-circle-plus"></i> Create Post
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/{{user}}">
                        <i class="fa-solid fa-user"></i> Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tags">
                        <i class="fa-solid fa-tags"></i> Manage Tags
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookmarks">
                        <i class="fa-solid fa-bookmark"></i> Bookmarks
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fa-solid fa-right-from-bracket"></i> Logout
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col-md-10 main-content">
            {% include "modal.html" %}
            {% include "search.html" %}
            {% include "messages.html" %}
        
            <div class="fade-in">
                {% for pos in post %}
                <div class="row" id="{{pos.id}}">
                    <div class="col-md-8 mx-auto">
                        <div class="post-card">
                            <div class="post-header">
                                {% if single_post_view and post_owner_profile %}
                                    <img src="{{post_owner_profile.profileimg.url}}" alt="Profile" class="rounded-circle">
                                {% else %}
                                    {% with username=pos.user %}
                                        {% for user_profile in all_profiles %}
                                            {% if user_profile.user.username == username %}
                                                <img src="{{user_profile.profileimg.url}}" alt="Profile" class="rounded-circle">
                                                {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                {% endif %}
                                <h5><a href="/profile/{{pos.user}}">@{{pos.user}}</a></h5>
                            </div>
                            
                            <div class="post-image-container">
                                <img src="{{pos.image.url}}" alt="Post Image" class="post-image">
                            </div>
                            
                            <div class="post-content">
                                <p>{{pos.caption}}</p>
                                <div class="post-tags">
                                    {% for tag in pos.tags.all %}
                                        <a href="/tag/{{ tag.name }}" class="badge bg-light text-dark">
                                            <i class="fas fa-tag me-1"></i>{{ tag.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                                <p class="text-muted small">{{pos.created_at}}</p>
                            </div>
                            
                            <div class="post-actions">
                                <div class="d-flex">
                                    <a href="/like-post/{{pos.id}}" class="btn btn-outline-primary btn-sm me-2">
                                        {% if pos.id|is_liked:user %}
                                        <i class="fas fa-heart"></i> Liked
                                        {% else %}
                                        <i class="far fa-heart"></i> Like
                                        {% endif %}
                                    </a>
                                    <a href="/bookmark-post/{{pos.id}}" class="btn btn-outline-secondary btn-sm me-2">
                                        {% if pos.id|is_bookmarked:user %}
                                        <i class="fas fa-bookmark"></i> Saved
                                        {% else %}
                                        <i class="far fa-bookmark"></i> Save
                                        {% endif %}
                                    </a>
                                    <a href="/post/{{pos.id}}" class="btn btn-outline-info btn-sm">
                                        <i class="far fa-comment"></i> 
                                        {% with comment_count=pos.comments.count %}
                                            {{ comment_count }} comment{{ comment_count|pluralize }}
                                        {% endwith %}
                                    </a>
                                </div>
                                
                                <div class="like-count">
                                    {% if pos.no_of_likes == 0 %}
                                    <span>0 likes</span>
                                    {% elif pos.no_of_likes == 1 %}
                                    <span>{{pos.no_of_likes}} like</span>
                                    {% else %}
                                    <span>{{pos.no_of_likes}} likes</span>
                                    {% endif %}
                                </div>
                            </div>

                            {% if single_post_view %}
                                {% include "comments.html" with comments=comments comment_form=comment_form post=post %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
   
    <script src="{% static 'js/app.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>