{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "favicon_include.html" %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cb792c0850.js" crossorigin="anonymous"></script>

    <title>Manage Tags</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 sidebar">
                <div class="text-center mt-3">
                    <img src="{{profile.profileimg.url}}" alt="Profile Picture" class="profile-pic">
                    <h4 class="mt-2"><a href="/profile/{{profile.user.username}}" style="text-decoration:none;">@{{profile.user.username}}</a></h4>
                </div>
                <ul class="nav flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fa-solid fa-house mr-1"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/explore">
                            <i class="fa-solid fa-compass mr-1"></i> Explore
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                            <i class="fa-solid fa-magnifying-glass mr-1"></i> Search
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            data-bs-whatever="@getbootstrap">
                            <i class="fa-solid fa-circle-plus mr-1"></i> Create Post
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/tags">
                            <i class="fa-solid fa-tags mr-1"></i> Manage Tags
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookmarks">
                            <i class="fa-solid fa-bookmark mr-1"></i> Bookmarks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/{{profile.user.username}}">
                            <i class="fa-solid fa-user mr-1"></i> Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <i class="fa-solid fa-right-from-bracket mr-1"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-10 main-content">
                {% include "search.html" %}
                {% include "modal.html" %}
                {% include "messages.html" %}

                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="card">
                                <div class="card-header bg-primary text-white">
                                    <h4 class="mb-0">Manage Tags</h4>
                                </div>
                                <div class="card-body">
                                    <form method="post" class="mb-4">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input type="text" name="tag_name" class="form-control" placeholder="Enter new tag name">
                                            <button type="submit" class="btn btn-primary">Add Tag</button>
                                        </div>
                                    </form>
                                    
                                    <h5>Existing Tags</h5>
                                    <div class="row">
                                        {% if tags %}
                                            {% for tag in tags %}
                                            <div class="col-md-4 mb-2">
                                                <div class="card">
                                                    <div class="card-body p-2">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <span>{{ tag.name }}</span>
                                                            <div>
                                                                <span class="badge bg-secondary">{{ tag.posts.count }} posts</span>
                                                                <a href="{% url 'delete_tag' tag.id %}" class="btn btn-sm text-danger" 
                                                                   onclick="return confirm('Are you sure you want to delete this tag? It will be removed from all posts.')">
                                                                    <i class="fa-solid fa-trash-can"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col-12">
                                                <div class="alert alert-info">
                                                    No tags available. Create your first tag!
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/app.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>